*:not(i) {
    /*font-family: 'Vazir' !important;*/
    /*font-family: 'kalameh' !important;*/
    /*font-family: 'iranyekan' !important;*/
    font-family: 'Vazirmatn' !important;
    font-feature-settings: "ss01";
    /*color: #2c3e50;*/
}

input, button {
    border-radius: 5px !important;
}

nav {
    background: url("../image/header-bg.png");
}

.uk-link, a {
    color: #019541;
}

a {
    text-decoration: unset !important;
}
.theme-background-green {
    background: #019541;
}
/*.theme-color-red {*/
/*    color: #c0392b !important;*/
/*}*/

/*a.theme-color-hover-red :hover {*/
/*    color: #c0392b !important;*/
/*}*/
/*a.theme-color-red :hover {*/
/*    color: #e74c3c !important;*/
/*}*/
.uk-navbar-sticky li a:not(.child) {
    color: #999 !important;
}

.uk-tab>.uk-active>a {
    border-color: #019541;
}

.uk-tab > li.uk-active > a {
    /*background: #019541;*/
    background: #00800024;
    /*color: white;*/
    color: #3e3e3e;
    border-radius: 5px 5px 0 0;
    font-weight: 600;
}

.socket-title-icon {
    background: #00800024;
    color: #019541;
    border-radius: 8px;
    /*padding: 1px;*/
    display: inline-block;
    vertical-align: middle;
    padding: 1%;
    /*transform: rotate(20deg);*/
}

.related-title-iterator {
    background: #00800024;
    color: #019541;
    border-radius: 8px;
    display: inline-block;
    vertical-align: middle;
    padding: 1%;
    /*transform: rotate(20deg);*/
    width: 20px;
    height: 20px;
    display: inline-block;
    text-align: center;
    font-weight: 900;
}

.item-iterator {
    background: #00800014;
    color: #0195419e;
    border-radius: 4px;
    vertical-align: middle;
    padding: 3px 3px;
    width: 15px;
    height: 15px;
    display: inline-block;
    text-align: center;
    font-weight: 400;
}

.uk-alert-success {
    background: #10ff0033 !important;
    border-radius: 10px !important;
}
.uk-alert-warning {
    background: #ff780033 !important;
    border-radius: 10px !important;
}
.uk-alert-danger {
    background: #ff000033 !important;
    border-radius: 10px !important;
}

video {
    border-radius: 5px;
}
